<div style="height: 170px; width: 100%; background: #01273A">
    <div style="text-align: center;"><img src="assets/images/bgheader.jpg"></div>
</div>
<section style="height: 100%; width: 100%; background: #E6E6E6;">
  <div style="width: 20%; float: left; height: 1px;"></div>
  <div style="width: 60%; float: left; height: auto; padding-top: 10px;">
    <app-esri-map></app-esri-map>
  </div>
  <div style="width: 20%; float: left; height: 1px;"></div>
</section>
<div style="clear: both"></div>
<div style="height: 1px; width: 100%;">
    <div style="text-align: center;"><img src="assets/images/footer.png"></div>
</div>
