<div #mapViewNode></div>
<!--div class="symbols-box">
  <table width="100%" height="100%">
    <tr>
      <td><img src="assets/images/wom.png"/></td>
      <td style="text-align: left">WOM</td>
    </tr>
    <tr>
      <td><img src="assets/images/vtr.png" width="24" height="24"/></td>
      <td style="text-align: left">VTR</td>
    </tr>
    <tr>
      <td><img src="assets/images/movistar.png" width="24" height="24"/></td>
      <td style="text-align: left">Movistar</td>
    </tr>
    <tr>
      <td><img src="assets/images/claro.png" width="24" height="24"/></td>
      <td style="text-align: left">Claro</td>
    </tr>
    <tr>
      <td><img src="assets/images/entel.png" width="24" height="24"/></td>
      <td style="text-align: left">Entel</td>
    </tr>
  </table>
</div-->
