<div #mapViewNode></div>
<div class="symbols-box">
  <table>
    <tr>
      <td><img src="assets/images/wom.png"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/localization.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/4.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/9.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
    </tr>
    <tr>
      <td><img src="assets/images/vtr.png" width="24" height="24"/></td>
      <td style="text-align: left">VTR</td>
      <td><img src="assets/images/antenna-purple.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/5.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/3.png" width="24" height="24"/></td>
      <td style="text-align: left">X</td>
    </tr>
    <tr>
      <td><img src="assets/images/movistar.png" width="24" height="24"/></td>
      <td style="text-align: left">Movistar</td>
      <td><img src="assets/images/x.png" width="24" height="24"/></td>
      <td style="text-align: left">X</td>
      <td><img src="assets/images/6.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/green-point.png"/></td>
      <td style="text-align: left">Punto</td>
    </tr>
    <tr>
      <td><img src="assets/images/claro.png" width="24" height="24"/></td>
      <td style="text-align: left">Claro</td>
      <td><img src="assets/images/1.png" width="24" height="24"/></td>
      <td style="text-align: left">X</td>
      <td><img src="assets/images/7.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
      <td><img src="assets/images/9.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
    </tr>
    <tr>
      <td><img src="assets/images/entel.png" width="24" height="24"/></td>
      <td style="text-align: left">Entel</td>
      <td><img src="assets/images/2.png" width="24" height="24"/></td>
      <td style="text-align: left">X</td>
      <td><img src="assets/images/8.png" width="24" height="24"/></td>
      <td style="text-align: left">WOM</td>
    </tr>
  </table>
</div>
